/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
    height: 100% auto;
    min-height: 100vh;
    font-family: 'Raleway';
    scroll-behavior: smooth;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #fff inset;
}

button:focus {
    outline: 0;
}